<?xml version="1.0" encoding="UTF-8"?> <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ohtae.crypto.mapper.ContactInfoMapper">
    <select id="selectContactList" resultType="com.ohtae.crypto.data.ContactInfoVO">
        select 
            ci_seq,ci_mi_seq,ci_title,ci_contents,
            ci_reg_dt,ci_mod_dt,ci_status, mi_id
        from contact_info a join member_info b on a.ci_mi_seq = b.mi_seq 
        order by ci_mod_dt desc
        limit 20 offset #{offset} 
    </select>
    <select id="selectContactCounts" resultType="java.lang.Integer">
        select count(*) from contact_info 
    </select>
    <select id="selectContactInfo" resultType="com.ohtae.crypto.data.ContactInfoVO">
        select 
            ci_seq,ci_mi_seq,ci_title,ci_contents,
            ci_reg_dt,ci_mod_dt,ci_status, mi_id
        from contact_info a join member_info b on a.ci_mi_seq = b.mi_seq 
        where ci_seq = #{seq}
    </select>
    <select id="selectContactReplyInfo" resultType="com.ohtae.crypto.data.ContactReplyInfoVO">
        select cri_seq,cri_contents,cri_reg_dt,cri_mi_seq,mi_id 
            from contact_reply_info a join member_info b on a.cri_mi_seq = b.mi_seq
        where cri_ci_seq = #{seq}
    </select> 


    <insert id="insertContactReplyInfo">
        insert into contact_reply_info(cri_ci_seq,cri_mi_seq,cri_contents) 
        values (#{cri_ci_seq},#{cri_mi_seq},#{cri_contents}) 
    </insert>
    <insert id="insertContactHis">
        insert into contact_info_history(cih_ci_seq,cih_type,cih_content) values
         (#{cih_ci_seq},#{cih_type},#{cih_content})
    </insert>
    <insert id="insertContactReplyHis">
        insert into contact_reply_info_history(crih_cri_seq,crih_type,crih_content)
        values (#{crih_cri_seq},#{crih_type},#{crih_content})
    </insert>




    <update id="updateContactStatus">
        <if test="status == 1">
            update contact_info set ci_status = 2 where ci_seq = #{seq}
        </if>
        <if test="status == 2">
            update contact_info set ci_status = 1 where ci_seq = #{seq}
        </if>
    </update>





    <delete id="deleteContactInfo">
        delete from contact_info where ci_seq = #{seq}
    </delete>
    <delete id="deleteContactReplyInfo">
        delete from contact_reply_info where cri_seq = #{seq}
    </delete>
</mapper>