<?xml version="1.0" encoding="UTF-8"?> <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ohtae.crypto.mapper.PostInfoMapper">
    <select id="selectPostList" resultType="com.ohtae.crypto.data.PostInfoVO">
        select 
        	pi_seq,pi_mi_seq,pi_ti_seq,pi_title,pi_contents,pi_views,
        	pi_like,pi_reg_dt,pi_mod_dt,pi_iti_seq,pi_status
        	,mi_id,ti_table,iti_type
        from
        (select 
        	pi_seq,pi_mi_seq,pi_ti_seq,pi_title,pi_contents,pi_views,
        	pi_like,pi_reg_dt,pi_mod_dt,pi_iti_seq,pi_status
        	,mi_id,ti_table
        from
        (select 
        	pi_seq,pi_mi_seq,pi_ti_seq,pi_title,pi_contents,pi_views,
        	pi_like,pi_reg_dt,pi_mod_dt,pi_iti_seq,pi_status
        	,mi_id
        from post_info a join member_info b on a.pi_mi_seq = b.mi_seq)c 
            join table_info d on c.pi_ti_seq = d.ti_seq)e
            join investment_type_info f on e.pi_iti_seq = f.iti_seq 
        where ${type} like #{keyword}
        order by ${order} ${dir}
        limit 20 offset #{offset} 
    </select>
    <select id="selectPostCounts" resultType="java.lang.Integer">
        select 
        	count(*)
        from post_info a join member_info b on a.pi_mi_seq = b.mi_seq
        where ${type} like #{keyword}
    </select>
    <select id="selectPostInfo" resultType="com.ohtae.crypto.data.PostInfoVO">
        select 
        	pi_seq,pi_mi_seq,pi_ti_seq,pi_title,pi_contents,pi_views,
        	pi_like,pi_reg_dt,pi_mod_dt,pi_iti_seq,pi_status
        	,mi_id,ti_table,iti_type
        from
        (select 
        	pi_seq,pi_mi_seq,pi_ti_seq,pi_title,pi_contents,pi_views,
        	pi_like,pi_reg_dt,pi_mod_dt,pi_iti_seq,pi_status
        	,mi_id,ti_table
        from
        (select 
        	pi_seq,pi_mi_seq,pi_ti_seq,pi_title,pi_contents,pi_views,
        	pi_like,pi_reg_dt,pi_mod_dt,pi_iti_seq,pi_status
        	,mi_id
        from post_info a join member_info b on a.pi_mi_seq = b.mi_seq)c 
            join table_info d on c.pi_ti_seq = d.ti_seq)e
            join investment_type_info f on e.pi_iti_seq = f.iti_seq 
        where pi_seq = #{seq}
    </select>
    <select id="selectPostReplyInfo" resultType="com.ohtae.crypto.data.PostReplyInfoVO">
        select pri_seq,pri_contents,pri_like,pri_reg_dt,pri_mi_seq,mi_id 
            from post_reply_info a join member_info b on a.pri_mi_seq = b.mi_seq
        where pri_pi_seq = #{seq}
    </select> 



    <insert id="insertPostHis">
        insert into post_info_history(pih_pi_seq,pih_type,pih_content) values
         (#{pih_pi_seq},#{pih_type},#{pih_content})
    </insert>




    <update id="updatePostToPublicStatus">
        update post_info set pi_status = 1 where pi_seq = #{seq}
    </update>
    <update id="updatePostToPrivateStatus">
        update post_info set pi_status = 2 where pi_seq = #{seq}
    </update>




    <delete id="deletePostInfo">
        delete from post_info where pi_seq = #{seq}
    </delete>
    <delete id="deletePostReplyInfo">
        delete from post_reply_info where pri_seq = #{seq}
    </delete>
</mapper>