<?xml version="1.0" encoding="UTF-8"?> <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ohtae.crypto.mapper.StatisticsInfoMapper">
    <select id="selectStatisticsList" resultType="com.ohtae.crypto.data.StatisticsInfoVO">
        select a.*,b.sti_name,c.mi_name from statistics_info a join statistics_table_info b 
        on a.si_sti_seq = b.sti_seq join member_info c 
        on a.si_mi_seq = c.mi_seq
        <if test="type == 'all'">
            where si_title like #{keyword} or si_contents like #{keyword} or mi_name like #{keyword}
        </if>
        <if test="type == 'title'">
            where si_title like #{keyword}
        </if>
        <if test="type == 'contents'">
            where si_contents like #{keyword}
        </if>
        <if test="type == 'name'">
            where mi_name like #{keyword}
        </if>
        order by si_seq desc
        limit 20 offset #{offset}
    </select>
    <select id="selectStatisticsCnt" resultType="java.lang.Integer">
        select count(*) from statistics_info a join member_info b 
        on a.si_mi_seq = b.mi_seq
        <if test="type == 'all'">
            where si_title like #{keyword} or si_contents like #{keyword} or mi_name like #{keyword}
        </if>
        <if test="type == 'title'">
            where si_title like #{keyword}
        </if>
        <if test="type == 'contents'">
            where si_contents like #{keyword}
        </if>
        <if test="type == 'name'">
            where mi_name like #{keyword}
        </if>
    </select>
    <select id="selectStatisticsInfoBySeq" resultType="com.ohtae.crypto.data.StatisticsInfoVO">
        select a.*,b.sti_name,c.mi_name from statistics_info a join statistics_table_info b 
        on a.si_sti_seq = b.sti_seq join member_info c 
        on a.si_mi_seq = c.mi_seq
        where a.si_seq = #{seq};
    </select>
    <select id="selectStatisticsTableList" resultType="com.ohtae.crypto.data.StatisticsTableVO">
        select * from statistics_table_info;
    </select>




    <insert id="insertStatisticsInfo">
        insert into statistics_info
            (si_mi_seq,si_sti_seq,si_title,si_contents,si_img_url)
        values
            (#{si_mi_seq},#{si_sti_seq},#{si_title},#{si_contents},#{si_img_url})
    </insert>




    <update id="updateStatisticsStatus" parameterType="com.ohtae.crypto.data.StatisticsInfoVO">
        <selectKey keyProperty="si_status" resultType="int" order="BEFORE">
            select si_status from statistics_info where si_seq = #{si_seq};
        </selectKey>
        
        <if test="si_status == 1"> 
            update statistics_info set si_status = 2 where si_seq = #{si_seq}
        </if>
        <if test="si_status == 2"> 
            update statistics_info set si_status = 1 where si_seq = #{si_seq}
        </if>
        
    </update>
    <update id="updateStatisticsInfo">
        update statistics_info set 
        si_title = #{si_title}, si_sti_seq = #{si_sti_seq}, si_contents=#{si_contents}, si_img_url=#{si_img_url}
        where si_seq = #{si_seq}
    </update>




    <delete id="deleteStatisticsInfo">
        delete from statistics_info where si_seq = #{seq}
    </delete>
</mapper>