/* member_info.css */

.main_container{
    width: 1130px;
    padding: 15px 0;
    border: 1px solid #fff;
    border-radius: 10px;
    margin: 10px auto;
    background-color: rgba(255, 255, 255, 0.591);
}
.main_upper_wrap{
    width: 1100px;
    margin: auto;
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #fff;
}

.main_upper_wrap > p{
    text-decoration: none;
    display: inline-block;
    tab-size: 18px;
    color: #444;
    font-weight: 400;
    margin: 0 10px;
    transition: 0.2s;
}
.main_upper_wrap > p:hover{
    color: #000;
    cursor: pointer;
}
.main_upper_wrap > button{
    float: right;
    margin: 0 10px;
    color: #000;
    background-color: transparent;
    border-radius: 10px;
    border: 0;
}
.main_upper_wrap > button:hover{
    background-color: #999;
    color: #fff;
    cursor: pointer;
}
#underline{
    position: absolute;
    width: 0;
    background-color: black;
    top: 0;
    left: 0;
    height: 0;
    transition: 0.2s;
}
.page_container{
    width: 1100px; margin: 0 auto;
    position: relative;
    top: 0;
    height: 1381px;
}

.member_page_wrap{
    width: 940px; margin: 0 auto;
    padding: 30px;
    position: relative;
    top: 40px;
    left: 0;
    background-color: rgb(235, 235, 235);
    border-radius: 10px;
    height: 1321px;
    box-shadow: 5px 5px 5px 5px gray;
    opacity: 100%;
    
    transition: 1s;
}
.member_page_wrap.active{
    width: 1040px; 
    top: 0;
    box-shadow: none;
}
.member_list_table{
    display: block;
    opacity: 0%;
    margin: 20px;
    transition-delay: 1s;
    transition-duration: 1s;
    
}
.member_list_table.active{
    opacity: 100%;
}

.member_list_table th{
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 20px;
    font-weight: 500;
}
.member_list_table td{
    border-bottom: 1px solid #999;
    font-size: 14px;
    padding: 10px;
    text-align: center;
    vertical-align: middle;
}




